@{
	ViewData["Title"] = "FAQ";
	Layout = "~/Views/Shared/_UserHomeLayout.cshtml";

}

<head>

	<style>
		.cont {
			max-width: 1000px;
			margin: 20px auto;
			padding: 20px;
			background-color: #f7f7f7;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		.cardd {
			flex: 1;
			background-color: #eaeaea;
			padding: 20px;
			margin: 0 10px 20px 0;
			border-radius: 5px;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		}

		h2 {
			font-size: 24px;
			margin: 0;
			margin-bottom: 10px;
		}

		h3 {
			font-size: 20px;
			margin-top: 10px;
		}

		p {
			font-size: 16px;
			line-height: 1.5;
			margin-top: 10px;
		}

	</style>
</head>

<body>




	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('../hometem/images/bg-01.jpg');">
	</section>

	<h2 class="txt-center" style="padding:2% 0; color: #000; font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 36px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); margin-bottom: 20px;">
		Frequently Asked Questions
	</h2>

	<div class="cont">
		<div class="cardd">
			<h3>Question 1: How to Create an Account?</h3>
			<p>To create an account, click on the "Sign Up" or "Create an Account" link on the top right of our website. Provide your email, set a password, and complete the registration process. You'll receive a confirmation email.</p>
		</div>

		<div class="cardd">
			<h3>Question 2: How to Make an Order?</h3>
			<p>Shopping at He and She Store is easy. Browse our products, select items you like, and add them to your cart. Click "Checkout," enter your shipping details, and choose your payment method. Review and confirm your order to complete the purchase.</p>
		</div>
	</div>

	<div class="cont">
		<div class="cardd">
			<h3>Question 3: How to Make a Payment?</h3>
			<p>We offer various payment options, including credit/debit cards and secure online payment gateways. Select your preferred payment method during checkout, and follow the instructions to make a secure payment for your order.</p>
		</div>

		<div class="cardd">
			<h3>Question 4: What Payment Methods Are Accepted?</h3>
			<p>
				<ul>
					<li><strong>Credit Cards:</strong>  including Visa, MasterCard</li>
					<li><strong>PayPal:</strong> You can securely make payments using your PayPal account.</li>
					<li><strong>Cash on Delivery (COD):</strong> For added convenience, we offer cash payment upon delivery for eligible orders.</li>
				</ul>
			</p>
		</div>
	</div>

	<div class="cont">
		<div class="cardd">
			<h3>Question 5: How Can I Check the Status of My Order?</h3>
			<p>You can easily check the status of your order by logging into your account on our website. Once logged in, go to the "Order History" or "My Orders" section, where you will find the current status and tracking information for your order.</p>
		</div>


		<div class="cardd">
			<h3>Question 6: Do You Offer International Shipping?</h3>
			<p>Currently, we offer shipping to Jordan only. Shipping costs and delivery times may vary depending on your location within Jordan. During checkout, you can select your preferred shipping option for delivery within Jordan.</p>
		</div>


	</div>

	<div class="cont">
		<div class="cardd">
			<h3>Question 7: How Can I Contact Customer Support?</h3>
			<p>If you have any questions or need assistance, you can reach our customer support team by clicking on the "Contact Us" link in the footer of our website. We are available to help with any inquiries you may have.</p>
		</div>

		<div class="cardd">
			<h3>Question 8: Can I Cancel an Order After Placing It?</h3>
			<p>If you wish to cancel an order, please contact our customer support as soon as possible. We'll do our best to assist you, but once an order is shipped, it may not be cancelable. Review our cancellation policy for more details.</p>
		</div>
	</div>






</body>