@{
	ViewData["Title"] = "Contact";
	Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<head>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="~/contacttemplate/css/style.css">


</head>
<section class="bg-img1 txt-center p-lr-15 p-tb-92 " style="background-image: url('../HomeTem/bb.jpg');">
</section>


<h2 class="ltext-105 cl0 txt-center" style="color: #000; margin-top:4%;">
	Contact US
</h2>

<section class="ftco-section" style="margin-top:-3%;">
	<div class="container">

		<div class="row justify-content-center">
			<div class="col-md-12">
				<div class="wrapper">
					<div class="row no-gutters mb-5">
						<div class="col-md-7">
							<div class="contact-wrap w-100 p-md-5 p-4">
								<h3 class="mb-4">Contact Us</h3>
								<div id="form-message-warning" class="mb-4"></div>
								<div id="form-message-success" class="mb-4">
									Your message was sent, thank you!
								</div>






								<form method="POST" asp-action="SendContact" asp-controller="Contacts" class="contactForm validate-form">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="label" for="name">Full Name</label>
												<input type="text" class="form-control" name="name" id="name" placeholder="Name">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="label" for="email">Email Address</label>
												<input type="email" class="form-control" name="email" id="email" placeholder="Email">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<label class="label" for="subject">Subject</label>
												<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<label class="label" for="#">Message</label>
												<textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<input type="submit" value="Send Message" class="btn btn-primary">
												<div class="submitting"></div>
											</div>
										</div>
									</div>
								</form>














							</div>


















						</div>
						<div class="col-md-5 d-flex align-items-stretch">
							<div id="map">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d54150.16255025337!2d35.88447980195766!3d31.97757285395803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151ca19b91ce38e1%3A0xb8dfd68042950b9e!2sTerranova!5e0!3m2!1sar!2sjo!4v1698263473698!5m2!1sar!2sjo" width="600" height="575" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2"></div>

						<div class="col-md-3">
							<div class="dbox w-100 text-center">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="fa fa-map-marker"></span>
								</div>
								<div class="text">
									<p><span>Address:</span> Makkeh Mall - Amman Jordan </p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="dbox w-100 text-center">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="fa fa-phone"></span>
								</div>
								<div class="text">
									<p><span>Phone:</span> +962 786 251 736</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="dbox w-100 text-center">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="fa fa-paper-plane"></span>
								</div>
								<div class="text">
									<p><span>Email:</span> <a href="mailto:esraa@gmail.com">esraa@gmail.com</a></p>
								</div>
							</div>
						</div>



					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="~/ContactTemplate/js/jquery.min.js"></script>
<script src="~/ContactTemplate/js/popper.js"></script>
<script src="~/ContactTemplate/js/bootstrap.min.js"></script>
<script src="~/ContactTemplate/js/jquery.validate.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="~/ContactTemplate/js/main.js"></script>

